<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} <p>title</p> {% endblock %}</title>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico" />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap"
      rel="stylesheet"
    />

    <!-- FontAwesome JS-->
    <script defer src="assets/fontawesome/js/all.min.js"></script>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/theme.css" />
  </head>

  <body>
    <header class="header fixed-top">
      <div class="branding docs-branding">
        <div class="container-fluid position-relative py-2">
          <div class="docs-logo-wrapper">
            <div class="site-logo">
              {% block logo %}
              <a class="navbar-brand" href="index.html"
              ><span class="logo-text"
                >Site<span class="text-alt">LOGO</span></span
              ></a
            >
              {% endblock %}

            </div>
          </div>
          <!--//docs-logo-wrapper-->
          <div
            class="docs-top-utilities d-flex justify-content-end align-items-center"
          >
          {% block hlinks %}
            <ul
              class="social-list list-inline mx-md-3 mx-lg-5 mb-0 d-none d-lg-flex"
            >
              <li class="list-inline-item">
                <a
                  href="#"
                >
                  <i class="fab fa-youtube fa-fw"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#"
                  ><i class="fab fa-twitter fa-fw"></i
                ></a>
              </li>
            </ul>
            <!--//social-list-->
            <a
              href="#"
              class="btn btn-primary d-none d-lg-flex"
              >Videos</a
            >
            {% endblock %}
          </div>
          <!--//docs-top-utilities-->
        </div>
        <!--//container-->
      </div>
      <!--//branding-->
    </header>
    <!--//header-->

    {% block header %}
    <p>Header content</p>
    {% endblock %} {% block content %}
    <p>Placeholder content</p>
    {% endblock %}

    <!-- Javascript -->
    <script src="assets/plugins/popper.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Page Specific JS -->
    <script src="assets/plugins/smoothscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script src="assets/js/highlight-custom.js"></script>
    <script src="assets/plugins/simplelightbox/simple-lightbox.min.js"></script>
    <script src="assets/plugins/gumshoe/gumshoe.polyfills.min.js"></script>
    <script src="assets/js/docs.js"></script>
  </body>
</html>
